yarn-debug.log*
yarn-error.log*
.yarn-integrity


.npm
.eslintcache/
*.tgz

.sonar/
.sonarlint/
.scannerwork/

.idea/
.vscode/

coverage/
docs/
scripts/
src/
tests/
.gitignore
.npmignore
.travis.yml
sonar-project.properties
test-report.xml
tsconfig.json
yarn.lock
