.npm
.eslintcache/
*.tgz

.sonar/
.sonarlint/
.scannerwork/

.idea/
.vscode/
.github/
.husky

coverage/
docs/
ruling/
scripts/
src/
tests/
.gitignore
.gitattributes
.gitmodules
.npmignore
.prettierignore
.travis.yml
.eslintrc.js
.editorconfig
sonar-project.properties
test-report.xml
tsconfig.json
.cirrus/
.cirrus.yml
.jfrog/
wss-unified-agent.config
