yarn-debug.log*
yarn-error.log*
.yarn-integrity


.npm
.eslintcache/
*.tgz

.sonar/
.sonarlint/
.scannerwork/

.idea/
.vscode/
.github/

coverage/
docs/
ruling/
scripts/
src/
tests/
.gitignore
.gitattributes
.gitmodules
.npmignore
.travis.yml
.eslintrc.js
.editorconfig
sonar-project.properties
test-report.xml
tsconfig.json
tsconfig-src.json
yarn.lock
